{% extends "base.html" %}


{% block head %}
  <link rel="stylesheet" type="text/css" href="{ static 'nico/nico.css' }"/>
  <script src="{ static 'nico/nico.js' }"></script>
{% endblock %}

{% block wrapper %}
      <h1>MYNICONICOMYLIST</h1>
      <h2>category: {{ category }}</h2>
      <select id='catsel'>
        <option value='all'>all</option>

        {% for cat in category_list %}
        <option value='{{ cat.category }}'>{{ cat.category }}</option>
        {% endfor %}

      </select>
      <input type='button' value='select' id='move'>
      <input type='button' value='movechecked' id='movechk'>
      <input type='button' value='checkall' id='chkall'>
      <input type='button' value='uncheckall' id='unchk'>

      {% for vinfo, sminfo in video_list %}
      <div class="info" id='info{{ sminfo.id }}' smid='{{ sminfo.smid }}'>
        <div class='head'>
          <input type='checkbox' id='chbox{{ sminfo.id }}'>
          <span class='category'>category: {{ sminfo.category }}</span>
          <span class='date'>add date: {{ sminfo.date.strftime('%Y-%m-%d %H:%M') }}</span>
        </div>
        <a href='http://www.nicovideo.jp/watch/{{ vinfo.id }}'>
            <img src='{{ vinfo.thumbnail_url }}' class='thumb'>
        </a>
        <div class='text'>
          <div class='smid'>
            <a href='http://www.nicovideo.jp/watch/{{ vinfo.id }}'>
              {{ vinfo.id }}&nbsp;{{ vinfo.title }}
            </a>
          </div>
          <div class='descrip'>
            {{ vinfo.description }}
          </div>
          <br/>
          <span class='upday'>
             upload date: {{ vinfo.first_retrieve }}
          </span>
          <span class='length'>
            lengh: {{ vinfo.length_in_seconds }}sec.
          </span>
          <br/>
          <span class='view'>
            watch: {{ vinfo.view_counter }}
          </span>
          <span class='mylist'>
            mylist: {{ vinfo.mylist_counter }}
          </span>
        </div>
          <div class='function'>
            <select id='catsel{{ sminfo.id }}'>
              <option value='new'>new</option>
              <option value='all'>all</option>

              {% for cat in category_list %}
              <option value='{{ cat.category }}'>{{ cat.category }}</option>
              {% endfor %}

            </select>
          <input type='text' id='form{{ sminfo.id }}'>
          <input type='button' value='move' class='move' num='{{ sminfo.id }}'>
          <input type='button' value='delete' class='delete' num='{{ sminfo.id }}'>
        </div>
      </div>
      {% endfor %}
{% endblock %}
